In [9]:
import pandas_datareader as pdr
import datetime
import pandas as pd

In [2]:
aapl = pdr.get_data_yahoo('AAPL', start=datetime.datetime(2006, 10, 1), end=datetime.datetime(2012, 1, 1))

In [3]:
import quandl

In [4]:
aaplq = quandl.get('WIKI/AAPL', start_date='2006-10-01', end_date='2012-01-01')

In [5]:
aapl.head()

                High       Low      Open     Close     Volume  Adj Close
Date
2006-10-02  2.709643  2.653571  2.682143  2.673571  712639200   2.287629
2006-10-03  2.676786  2.613929  2.658929  2.645714  790708800   2.263793
2006-10-04  2.695000  2.612857  2.646429  2.692143  829082800   2.303519
2006-10-05  2.720000  2.647500  2.661786  2.672500  683883200   2.286713
2006-10-06  2.680000  2.636071  2.657857  2.650714  466958800   2.268071

In [6]:
aaplq.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2006-10-02,75.10,75.870,74.30,74.86,25451400.0,0.0,1.0,9.651397,9.750352,9.548586,9.620553,178159800.0
2006-10-03,74.45,74.950,73.19,74.07,28239600.0,0.0,1.0,9.567863,9.632120,9.405935,9.519027,197677200.0
2006-10-04,74.10,75.462,73.16,75.38,29610100.0,0.0,1.0,9.522883,9.697919,9.402080,9.687381,207270700.0
2006-10-05,74.53,76.160,74.13,74.83,24424400.0,0.0,1.0,9.578144,9.787621,9.526738,9.616698,170970800.0
2006-10-06,74.42,75.040,73.81,74.22,16677100.0,0.0,1.0,9.564007,9.643686,9.485614,9.538304,116739700.0

In [11]:
aapl.to_csv('data/algo_test.csv')

In [12]:
df = pd.read_csv('data/algo_test.csv', header=0, index_col='Date', parse_dates=True)

In [13]:
df.head()

                High       Low      Open     Close     Volume  Adj Close
Date
2006-10-02  2.709643  2.653571  2.682143  2.673571  712639200   2.287629
2006-10-03  2.676786  2.613929  2.658929  2.645714  790708800   2.263793
2006-10-04  2.695000  2.612857  2.646429  2.692143  829082800   2.303519
2006-10-05  2.720000  2.647500  2.661786  2.672500  683883200   2.286713
2006-10-06  2.680000  2.636071  2.657857  2.650714  466958800   2.268071