In [15]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from datetime import timedelta
from sklearn.preprocessing import RobustScaler
plt.style.use('bmh')
 
import ta

from keras.models import Sequential
from keras.layers import LSTM, Dense, Dropout

df = pd.read_csv('data/SPY5yr.csv')

In [16]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2015-11-25,209.500000,209.740005,209.009995,209.320007,189.730499,51980100
1,2015-11-27,209.429993,209.800003,208.860001,209.559998,189.948029,37317800
2,2015-11-30,209.750000,209.889999,208.559998,208.690002,189.159454,112822700
3,2015-12-01,209.440002,210.820007,209.110001,210.679993,190.963196,97858400
4,2015-12-02,210.619995,211.000000,208.229996,208.529999,189.014420,108441300

In [17]:
## Datetime conversion
df['Date'] = pd.to_datetime(df.Date)

# Setting the index
df.set_index('Date', inplace=True)

# Dropping any NaNs
df.dropna(inplace=True)



## Technical Indicators

# Adding all the indicators
df = ta.add_all_ta_features(df, open="Open", high="High", low="Low", close="Close", volume="Volume", fillna=True)

# Dropping everything else besides 'Close' and the Indicators
df.drop(['Open', 'High', 'Low', 'Adj Close', 'Volume'], axis=1, inplace=True)

# Only using the last 1000 days of data to get a more accurate representation of the current market climate
df = df.tail(1000)



## Scaling

# Scale fitting the close prices separately for inverse_transformations purposes later
close_scaler = RobustScaler()

close_scaler.fit(df[['Close']])

# Normalizing/Scaling the DF
scaler = RobustScaler()

df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns, index=df.index)

df.head()

C:\Users\jbogg\anaconda3\lib\site-packages\ta\trend.py:643: RuntimeWarning: invalid value encountered in double_scalars
  dip[i] = 100 * (self._dip[i]/self._trs[i])
C:\Users\jbogg\anaconda3\lib\site-packages\ta\trend.py:647: RuntimeWarning: invalid value encountered in double_scalars
  din[i] = 100 * (self._din[i]/self._trs[i])

,Close,volume_adi,volume_obv,volume_cmf,volume_fi,volume_mfi,volume_em,volume_sma_em,volume_vpt,volume_nvi,...,momentum_wr,momentum_ao,momentum_kama,momentum_roc,momentum_ppo,momentum_ppo_signal,momentum_ppo_hist,others_dr,others_dlr,others_cr
Date,,,,,,,,,,,,,,,,,,,,,
2016-12-06,-1.360836,-1.444587,-1.630503,0.773518,0.180889,0.592416,0.012203,-0.047800,0.502746,-0.613108,...,0.429958,0.149822,-1.415582,0.047624,-0.687380,-0.646725,-0.380925,0.279671,0.279503,-1.360836
2016-12-07,-1.291179,-1.403558,-1.527963,0.903621,0.858100,0.668877,0.816701,0.159254,1.615194,-0.613108,...,0.467726,0.168265,-1.401840,0.596559,-0.298480,-0.601275,0.427911,1.421329,1.413499,-1.291179
2016-12-08,-1.277968,-1.394448,-1.435630,0.633132,0.836268,0.717426,0.389936,0.226027,1.673459,-0.610669,...,0.325071,0.264637,-1.386849,0.412699,-0.097745,-0.515514,0.729048,0.196907,0.196859,-1.277968
2016-12-09,-1.245301,-1.361566,-1.354139,0.863672,0.964220,0.724193,0.136266,0.264121,0.693500,-0.604636,...,0.484957,0.388046,-1.367755,0.560040,-0.043263,-0.433497,0.701079,0.610537,0.609298,-1.245301
2016-12-12,-1.251546,-1.368804,-1.448603,0.656712,0.743202,0.769489,0.005503,0.230493,0.307402,-0.604636,...,0.287796,0.494793,-1.344907,0.498716,0.124178,-0.326676,0.886371,-0.217287,-0.217625,-1.251546